/* styles.css for calendar*/

.ftco-section {
  padding: 0 0;
}

.elegant-calencar {
  max-width: 700px;
  text-align: center;
  position: relative;
  margin: 0 auto;
  overflow: hidden;
  -webkit-box-shadow: 0px 19px 27px -20px rgba(0, 0, 0, 0.16);
  -moz-box-shadow: 0px 19px 27px -20px rgba(0, 0, 0, 0.16);
  box-shadow: 0px 19px 27px -20px rgba(0, 0, 0, 0.16);
}

.wrap-header {
  position: relative;
  width: 45%;
  background: #0a5cb5;
}
@media (max-width: 767.98px) {
  .wrap-header {
    width: 100%;
    padding: 20px 0;
  }
}

#header {
  width: 100%;
  position: relative;
}
#header .pre-button,
#header .next-button {
  cursor: pointer;
  width: 1em;
  height: 1em;
  line-height: 1em;
  border-radius: 50%;
  position: absolute;
  top: 50%;
  -webkit-transform: translateY(-50%);
  -ms-transform: translateY(-50%);
  transform: translateY(-50%);
  font-size: 18px;
}
#header .pre-button i,
#header .next-button i {
  color: #fff;
}

.pre-button {
  left: 5px;
}

.next-button {
  right: 5px;
}

.head-day {
  font-size: 8em;
  line-height: 1;
  color: #fff;
}

.head-month {
  font-size: 2em;
  line-height: 1;
  color: #fff;
  font-size: 18px;
  text-transform: uppercase;
}

.calendar-wrap {
  width: 100%;
  background: #fff;
  padding: 40px 20px 20px 20px;
  background-image: url('../public/images/interlaced.png');
}

#calendar {
  width: 100%;
}

#calendar tr {
  height: 3em;
}

.toDo {
  color: #fff;
}
.toDo:after {
  background: #0a5cb5;
}

#disabled {
  cursor: default;
  background: #fff;
}

#disabled:hover {
  background: #fff;
  color: #c9c9c9;
}
#disabled:hover:after {
  background: transparent;
}

#reset {
  display: block;
  position: absolute;
  right: 0.5em;
  top: 0.5em;
  z-index: 999;
  color: rgba(255, 255, 255, 1);
  cursor: pointer;
  padding: 0 0.5em;
  border: 2.5px solid rgba(255, 255, 255, 1);
  border-radius: 4px;
  -webkit-transition: all 0.3s ease;
  -o-transition: all 0.3s ease;
  transition: all 0.3s ease;
  text-transform: uppercase;
  font-size: 20px;
  font-weight: bold;
}

#reset:hover {
  color: black;
  border-color: black;
}

#reset:active {
  -webkit-transform: scale(0.8);
  -ms-transform: scale(0.8);
  transform: scale(0.8);
}

.calendarBody {
  font-family: 'Lato', Arial, sans-serif;
  font-size: 16px;
  line-height: 1.8;
  font-weight: normal;
  background: #ffeaa7;
  transform: scale(1);
  color: gray;
}
