.navbar {
  height: 60px;
  background-color: #55acee;
}

.container {
  display: grid;
  height: calc(100vh - 60px);
}

.left {
  background-color: #3b5998;
}

.navbarContent {
  display: flex;
  justify-content: space-between;
  align-items: center;
  color: white;
}

.logoutButton {
  margin-left: 1rem;
  margin-right: 2rem;
}

.button {
  margin: 10px;
}
