.navbar {
  height: 60px;
  background-color: #f7a83f;
}

.container {
  max-height: calc(100% - 60px);
  overflow-y: auto;
}

.navbarContent {
  display: flex;
  justify-content: space-between;
  align-items: center;
  color: white;
}

.logoutButton {
  margin-left: 5px;
  margin-right: 5px;
}

.button {
  margin: 10px;
  width: 100px;
}

.heading {
  margin-left: 10px;
  margin-right: 10px;
}

.logoutAnimation {
  margin-right: 15px;
}

.textShadow {
  text-shadow: 2px 2px 6.5px rgba(204, 70, 8, 0.5);
}
