thead tr {
  color: #000;
  font-weight: 700;
}

tbody tr {
  color: #000;
}

tbody td {
  width: 14%;
  border-radius: 50%;
  cursor: pointer;
  -webkit-transition: all 0.2s ease-in;
  -o-transition: all 0.2s ease-in;
  transition: all 0.2s ease-in;
  position: relative;
  z-index: 0;
}

tbody td:after {
  position: absolute;
  top: 50%;
  left: 0;
  right: 0;
  bottom: 0;
  content: '';
  width: 44px;
  height: 44px;
  margin: 0 auto;
  -webkit-transform: translateY(-50%);
  -ms-transform: translateY(-50%);
  transform: translateY(-50%);
  border-radius: 50%;
  -webkit-transition: 0.3s;
  -o-transition: 0.3s;
  transition: 0.3s;
  z-index: -1;
}
@media (prefers-reduced-motion: reduce) {
  tbody td:after {
    -webkit-transition: none;
    -o-transition: none;
    transition: none;
  }
}

tbody td:hover,
.selected {
  color: #fff;
  border: none;
}
tbody td:hover:after,
.selected:after {
  background: #0a5cb5;
}

tbody td:active {
  -webkit-transform: scale(0.7);
  -ms-transform: scale(0.7);
  transform: scale(0.7);
}

/* styles/globals.css */
:root {
  --bs-primary: #ffb03b; /* new primary color in hexadecimal */
  --bs-primary-rgb: 255,175,60; /* new primary color in RGB */
}

.btn-primary {
  --bs-btn-bg: #25a694;
  --bs-btn-border-color: #2b676f;
  --bs-body-color: #2b676f;
}

