.divider:after,
.divider:before {
  content: '';
  flex: 1;
  height: 2px;
  background: #eee;
}
.hcustom {
  height: calc(100% - 73px);
}
@media (max-width: 450px) {
  .hcustom {
    height: 100%;
  }
}

.login {
  padding-left: 2.5rem;
  padding-right: 2.5rem;
}

.socialMediaLogin {
  border-radius: 2rem;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.25);
}

.socialLogin {
  margin-top: 0.4rem;
  margin-bottom: 0.4rem;
  margin-left: 0.2rem;
  margin-right: 0.2;
  white-space: nowrap;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.25);
}

.noUnderline {
  text-decoration: none;
}

.signinStyles {
  text-align: center;
  display: flex;
  justify-content: center;
  align-items: center;
  color: #e66b45;
  font-weight: bolder;
}

.signinStylesV2 {
  white-space: nowrap;
}

.google {
  background-color: #57b08c;
}

.google:hover,
.google:focus,
.google:active {
  background-color: #e66b45; /* Darker hover/focus/active color */
  /* Add any other styles you want for the hover/focus/active state */
}

.github {
  background-color: #459176;
}

.github:hover,
.github:focus,
.github:active {
  background-color: #e66b45; /* Darker hover/focus/active color */
  /* Add any other styles you want for the hover/focus/active state */
}

.discord {
  background-color: #315b60;
}

.discord:hover,
.discord:focus,
.discord:active {
  background-color: #e66b45; /* Darker hover/focus/active color */
  /* Add any other styles you want for the hover/focus/active state */
}

.centerText {
  text-align: center;
}

