.itemContainer {
  background-color: #f1f2e9;
  border: 1px solid #cddcc2;
  padding: 10px;
  margin: 10px;
  border-left: 8px solid;
  border-radius: 5px;
}

.unexpandedContainer {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.todoBottomBarWrapper {
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.unexpandedContainer:hover {
  cursor: pointer;
}

.expandedContainer {
  border-top: 1px solid rgba(117, 117, 117, 0.491);
  margin-top: 5px;
}

.checkbox {
  transform: scale(1.5);
  margin-right: 5px;
}

.checkboxSpinner {
  margin-top: 0px;
  margin-bottom: 0px;
}

.listItem {
  list-style-type: none;
  flex-grow: 1;
  margin: 0;
  margin-left: 10px;
}

.description {
  margin-top: 10px;
  justify-content: center;
}

.label {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 8ch;
  margin-left: 10px;
  border-radius: 20px;
  
}

.pEdit {
  margin: 0;
  text-align: center;
}

.favicons {
  display: flex;
  align-items: center;
  margin-right: 10px;
  justify-content: flex-end;
}

.labelLeisure {
  background-color: #fbb223;
  color: #ffffff; /* sets the text color to white */
  font-weight: bold; /* makes the text bold */
  box-shadow: 2px 2px 3px rgba(251,178,35,0.5); /* adds a subtle drop shadow */
}

.labelWork {
  background-color: #43bf9e;
  color: #ffffff; /* sets the text color to white */
  font-weight: bold; /* makes the text bold */
  box-shadow: 2px 2px 3px rgba(67,191,158,0.5); /* adds a subtle drop shadow */
}

.labelFitness {
  background-color: #adc233;
  color: #ffffff; /* sets the text color to white */
  font-weight: bold; /* makes the text bold */
  box-shadow: 2px 2px 3px rgba(173,194,51,0.5); /* adds a subtle drop shadow */
}

.labelNone {
  background-color: black;
}

.categoryLeisure {
  border-left-color: #fbb223;
}

.categoryWork {
  border-left-color: #43bf9e;
}

.categoryFitness {
  border-left-color: #adc233;
}

.categoryNone {
  border-left-color: black;
}

.favicons i {
  margin-left: 20px;
  cursor: pointer;
  transition: color 0.3s ease;
}

.favicons i.trashIcon:hover {
  color: red;
  transform: scale(1.5);
}

.favicons i.editIcon:hover {
  color: green;
  transform: scale(1.5);
}

.overdueDate {
  color: #e05245;
  font-weight: bold;
}

.duration {
  font-weight: 500;
}

.deleting {
  margin-right: 30px;
}

.checkbox:checked {
  filter: hue-rotate(180deg); /* Adjust the hue rotation to change the color */
}

