.listContainer {
  max-height: calc(100vh - 120px);
  overflow-y: auto;
}

.lowerSubContainer {
  background-color: #f2f2f2;
  border: 1px solid #ccc;
  display: flex;
  align-items: center;
  justify-content: flex-end;
}

.button {
  margin: 10px;
}

.headingContainer {
  display: flex;
  justify-content: flex-start;
  align-items: center;
  gap: 10px;
  margin: 20px 10px;
}

.heading {
  font-weight: 400;
  font-size: large;
}

.currentDate {
  margin: 10px;
  font-weight: 600;
}

.overdueTodosBannerWrapepr {
  background: #fecaca;
  border-radius: 4px;
  margin: 10px;
  padding: 0 10px;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.overdueTodosTitle {
  color: #57534e;
  font-weight: 400;
  font-size: 1rem;
  margin: 0;
  padding: 10px;
  display: flex;
  align-items: center;
}

.overdueTodosOkButton {
  background: #ef4444;
  margin: 10px;
  color: white;
  border: none;
  border-radius: 4px;
  min-width: 50px;
  min-height: 30px;
}
