.listContainer {
  max-height: calc(100vh - 120px);
  overflow-y: auto;
}

.lowerSubContainer {
  background-color: #f2f2f2;
  border: 1px solid #ccc;
  display: flex;
  align-items: center;
  justify-content: flex-end;
}

.button {
  margin: 10px;
}

.headingContainer {
  display: flex;
  justify-content: flex-start;
  align-items: center;
  gap: 10px;
  margin: 20px 10px;
}

.heading {
  font-weight: 400;
  font-size: large;
}

.currentDate {
  margin: 10px;
  font-weight: 600;
}